*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #373535;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
}

.container{
    width: 1170px;
    margin: 0 auto;
    max-width: 95%;
}


h1{
    margin: 25px 0px;
    text-align: center;
    font-size: 4rem;
}
strong{
    color: #bcbcbc;
}
